Makefile
*.o
*.lo
config.h
config.log
config.status
.deps/
.dirstamp
.libs/
src/liblzo2.la
examples/dict
examples/lzopack
examples/overlap
examples/precomp
examples/precomp2
examples/simple
libtool
lzotest/lzotest
minilzo/testmini
stamp-h1
tests/align
tests/chksum
tests/promote
tests/sizes