Makefile
config.h
config.log
config.status
configure
include/Makefile
libtool
libyamlaxfs.a
autom4te.cache/
src/.deps/
src/.libs/
src/Makefile
src/libyaml.la
*.lo
*.o
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/example-deconstructor
tests/example-deconstructor-alt
tests/example-reformatter
tests/example-reformatter-alt
tests/run-dumper
tests/run-emitter
tests/run-loader
tests/run-parser
tests/run-scanner
win32/Makefile
yaml-0.1.pc