Doxyfile
Makefile
config.h
config.log
config.status
*.o
*.lo
.deps/
.libs/
libtool
po/Makefile.in
po/POTFILES
src/liblzma/liblzma.la
src/liblzma/liblzma.pc
src/lzmainfo/lzmainfo
src/scripts/xzdiff
src/scripts/xzgrep
src/scripts/xzless
src/scripts/xzmore
src/xz/xz
src/xzdec/lzmadec
src/xzdec/xzdec
stamp-h1
